header {
    border: 1px solid black;
    margin: 0 0 10px 0;
}
main {
    border: 1px solid black;
    margin: 10px 0 10px 0;
}
section {
    border: 1px solid black;
}
table {
    border: 1px solid black;
    margin: 0 0 10px 0;
}
aside {
    border: 1px solid black;
}
footer {
    border: 1px solid black;
}